HELP.md

# Build
target/
build/
out/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# =========================
# Spring Tools Suite (STS)
# =========================
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# =========================
# IntelliJ IDEA
# =========================
.idea
*.iws
*.iml
*.ipr
.run/

# =========================
# NetBeans
# =========================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Sensitive files
# =========================
.env
application-dev.properties
application-local.properties
application-test.properties
application-prod.properties

# AWS keys or secrets
*.pem
*.key

# =========================
# OS Specific
# =========================
.DS_Store
Thumbs.db
